{% extends "ogevents/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_new' %}" >Click here to add a new event to the website</span></a>
    {% endif %}
    <p>__________________________________________________________________________________________________________________________________________________________________</p>
    {% for post in posts %}
            {% if user.is_authenticated %}
                <h2 class="date" >{{ post.title|date:"l jS F Y" }}</h2>
                <a class="btn btn-default" href="{% url "post_edit" pk=post.pk %}">Click here to make a change to this event</span></a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">Click here to remove this event from the website</span></a>
            {% else %}
                <h2 class="date" >{{ post.title|date:"l jS F Y" }}</h2>
            {% endif %}
            {% if post.author_name == "hughc" %}
                <h2 class="hughc">{{ post.text|linebreaks }}</h2>
            {% else %}
                <h2 class="item">{{ post.text|linebreaks }}</h2>
            {% endif %}
            <p>__________________________________________________________________________________________________________________________________________________________________</p>
    {% endfor %}
{% endblock content %}
                {% comment %}
                {% endcomment %}
